@import './colors.scss';

.footer {
  padding: 2rem;
  margin-top: 3rem;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
