@import './colors.scss';

.layout {
  width: 100%;
  min-height: 100vh;
  transition: background 350ms;

  &__dark {
    background: $black;
    color: $white;

    a {
      color: $white;
    }
  }

  &__light {
    background: $white;
    color: $black;

    a {
      color: $black;
    }
  }
}

.container {
  padding: 0 2.5rem;
  max-width: 50rem;
  margin: 0 auto;
}

section {
  margin-bottom: 3rem;
}
