.filter {
  padding: 0;
  list-style: none;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    grid-gap: 1rem;
  }

  &__listitem {
  }

  &__button {
  }
}
